div>img{
    height: 200px;
    width: 200px;
    border-style: outset;
    border-color:black;
}

body {
    font-family: sans-serif;
    background-image: url(Bilder/bg.png);
    
}

img~h2{
    font-size: 17px;
    margin-top: 0px;
}

.ausgeliehen, .reserviert{
    opacity: 25%;
}

.ausgewaehlt{
    border: 5px solid red;
}
h2+p{
    font-size: 10px;
}

p+p{
    font-style: italic;
    font-size: 12px;
    width: 50px;
}


main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;   
    flex-direction: column;

}

main>div {
    display: flex;
    flex-wrap: wrap;
}



main div div{
    width: 200px;
    margin: 20px;
}

header{
    background-color: rgb(37, 223, 78);
    height: 135px;
    border-radius: 20%;


}

img[src="Bilder/Logo.png"]{
    height: 105px;
    width: 105px;
    position: absolute;
    top: 10px;
    border-style: solid;
}



#anz{
    background-color:black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 100px;
    color: honeydew;
    font-size: 10px;
    text-align: center;
}


#topmenu ul{
    display:none;
    
}

#topmenu:hover ul {
    display:block;
    z-index:500;
}

h1{
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 30px;
}

li{
    list-style: none;
    background-color: lightgray;
    width: 150px;
    border-radius: 20px;
    border-style: solid;
}

nav a {

    text-decoration: none;
    color:black;
    font-size: large;
    margin-left: 19px;
    margin-right: 10px;
    
}

#warenkorbinhalt{

    position: relative;
    text-align: center;
    width: 1000px;
    border: black;
    
   
    
}
#warenkorbinhalt p{

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    padding: 5px;
    background-color: white;
    
} 


@media (max-width:  1024px){ 

    main{
        width: 600px;
    }   

    main>div {
        margin-left: 50px;
        margin-right: 50px;
        
    }

    h2{
        text-align: center;
    }
   
}
   


@media (max-width:  600px){ 

    main{
        width: 200px;
}   
    main div div{
        margin: 0px;
        margin-bottom: 20px;
}
    main  div{
        margin: 0px;
   
}
    h2{
        text-align: center;
}

    img[src="Logo.png"]{
        height: 50px;
        width: 50px;
   
}

}