div>img{
    height: 194px;
    width: 194px;
    border-style: outset;
    border-color:black;
}

body {
    font-family: sans-serif;
    background-image: url(Bilder/bg.png);
    font-family: Arial, Helvetica, sans-serif;
    
}

img~h2{
    font-size: 20px;
    margin-top: 0px;
}

.ausgeliehen, .reserviert{
    opacity: 25%;
}

.ausgewaehlt{
    border: 5px solid red;
}
h2+p{
    font-size: 15px;
}

p+p{
    font-style: italic;
    font-size: 15px;
    width: 50px;
}



main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;   
    flex-direction: column;

}

main>div {
    display: flex;
    flex-wrap: wrap;
}



main div div{
    width: 200px;
    margin: 20px;
}

header{
    background-color: rgb(37, 223, 78);
    height: 135px;
    
}



img[src="Bilder/Logo.png"]{
    height: 105px;
    width: 150px;
    position: absolute;
    top: 45px;
    border-style: solid;
}



h1{
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 30px;
}




@media (max-width:  1024px){ 

    main{
        width: 600px;
    }   

    main>div {
        margin-left: 50px;
        margin-right: 50px;
        
    }

    h2{
        text-align: center;
    }
   
}
   


@media (max-width:  600px){ 

    main{
        width: 200px;
}   
    main div div{
        margin: 0px;
        margin-bottom: 20px;
}
    main  div{
        margin: 0px;
   
}
    h2{
        text-align: center;
}

    img[src="Logo.png"]{
        height: 50px;
        width: 50px;
   
}

}